/*
Snap CSS
*/
snap-content {
  background-color: #fff;
  border-left: 1px solid #ccc;
}

div.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    vertical-align: middle;
    text-align: center;
}