<div ng-controller="EstimateWeightCtrl" class="col-md-12 col-sm-12 col-xs-12">
	<form class="form-horizontal" ng-submit="submit(form)" name="form" novalidate>
		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4>Estimate weight</h4>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Gender</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " dropdown >
						<div class="dropdown">
							<button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Gender
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Male</a></li>
								<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Female</a></li>
							</ul>
						</div>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Arm circumference</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="text" name="age" placeholder="Arm circumference" class="gap form-control " ng-model="armCircumfernce" ng-required="true"/>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Calf circumference</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="text" name="age" placeholder="Calf circumference" class="gap form-control " ng-model="calfCircumfernce" ng-required="true"/>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Subescapular skinfold</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="text" name="age" placeholder="Subescapular skinfold" class="gap form-control " ng-model="subescapularSkinfold" ng-required="true"/>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Knee height</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="text" name="age" placeholder="knee height" class="gap form-control " ng-model="kneeHeight" ng-required="true"/>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				

				<div class="col-md-10 col-sm-10 col-xs-10">
					<input  ng-click="calculate()" type="submit" class="btn btn-success btn-block btn-lg" value="Calculate"/>
				</div>

			</div>
		</div>


		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">The estimated weight is XXX kg.</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Calculated using:</div>
				<div class="col-md-12 col-sm-12 col-xs-12 gap">CHUMLEA ET ALL, 1985</div>
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12 gap">
				<h4>Calculate for above 18 to 60 years old...</h4>
			</div>
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				<div class="col-md-10 col-sm-10 col-xs-10">
					<input  ng-click="method18To60()" type="submit" class="btn btn-success btn-block btn-lg" value="Calculate"/>
				</div>

			</div>
		</div>
		
		
	</form>
</div>



