<div ng-controller="HomeCtrl">
	<snap-drawer>

		<div class="list-group ">
			<a class="list-group-item ">
				<img height="30px"/>
				<text class="list-group-item-heading">Menu</text>
			</a>
			<a class="list-group-item ">
				<img src="images/menu_alarm.png" width="30px"/>
				<text class="list-group-item-heading">Estimate of anthropometric measures</text>
				
			</a>
			<a class="list-group-item" >
				<img  src="images/menu_alarm.png" width="30px"/>
				<text class="list-group-item-heading">Assessment the adequacy of anthropometric indicators / mesaures</text>
				
			</a>

			<a class="list-group-item">
				<img  src="images/menu_alarm.png" width="30px"/>
				<text class="list-group-item-heading">Adjusted of anthropometric mesaures</text>
				
			</a>

			<a class="list-group-item">
				<img src="images/menu_alarm.png" width="30px"/>
				<text class="list-group-item-heading">Help / FAQ</text>
			</a>

			<a class="list-group-item">
				<img src="images/menu_alarm.png" width="30px"/>
				<text class="list-group-item-heading">Exit</text>
			</a>

			
		</div>
	</snap-drawer>
	<snap-content>

		<div>
			<a class="list-group-item" ng-click="optionClick()">
				<img snap-toggle src="images/menu_alarm.png" width="30px"/><text>Clinical Nutrition</text>
			</a>
		</div>
		<div ui-view></div>
	</snap-content>

</div>
