<div ng-controller="IdealWeightCtrl"  class="col-md-12 col-sm-12 col-xs-12">
	<form class="form-horizontal" name="form" novalidate>
		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4>Ideal Weight ( Broca Index )</h4>
				<strong>Calculated using : Broca, 1871</strong>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Height</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="number" min="0" step="0.25" name="height" placeholder="height" class="gap form-control " ng-model="height" required/>
					</div>
			      
			    </div>
			</div>
		</div>

		

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				

				<div class="col-md-10 col-sm-10 col-xs-10">
					<input  ng-click="calculate(form)" type="submit" class="btn btn-success btn-block btn-lg" value="Calculate"/>
				</div>

			</div>
		</div>


		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12" ng-show="calculatedValue.length !== 0">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">The ideal weight is {{calculatedValue | number:2}}  KG.</div>
			</div>
		</div>
	</form>

</div>


<!--

FORMULA 1: IDEAL WEIGHT (BROCA INDEX)
Ideal weight  (kg):
= current height – 100 cm
Broca, 1871
EXAMPLE 1: IDEAL WEIGHT (BROCA INDEX)
Ideal weight  (kg):
Example: If height is 173 cm
= current height – 100 cm
= 173 – 100 
= 73kg = ideal weight
FORMULA 2: ADJUSTED WEIGHT TO OVER WEIGHT AND UNDER WEIGHT
 If    BMI < 18,5kg/m² and BMI > 30kg/m²
= (current weight – ideal weight) x 0,25 + ideal weight
Kushner, 1993
EXAMPLE 2: ADJUSTED WEIGHT TO OBESE
Adjusted weight to obese (kg): if BMI > 30kg/m²
= (current weight – ideal weight) x 0,25 + ideal weight
  Example: weight current = 100 kg                      ideal weight = 73 kg Adjusted weight = (100 – 73) x 0,25 + 73                                         6,75 + 73                                           79,75 kg = adjusted weight
FORMULA 3: ADJUSTED WEIGHT TO MALNUTRITION
Adjusted weight to malnutrition (kg):     If BMI < 18kg/m²
= (ideal weight – current weight) x 0,25 + ideal current
Kushner, 1993
EXAMPLE 3: ADJUSTED WEIGHT TO MALNUTRITION
Adjusted weight to malnutrition (kg): if BMI < 18kg/m²
= (ideal weight – current weight) x 0,25 + ideal current ideal  weight = 54 kg Current weight = 40 kg
= (54-40) x 0,25 + 54 = 57,5 kg (adjusted weight to malnutrition) 

-->