<div class="container" ng-controller="LoginCtrl">    
  <div style="margin:0 auto; max-width:330px;">
    <div style>
      <img id="img_logo" src="images/logo.png" width="100%"/>
    </div>

    <form ng-submit="login(loginForm)" name="loginForm" class="form-horizontal">
      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
          
          <input type="text" ng-model="username" placeholder="Gebruikersnaam"  class="form-control" required />

        </div>
      </div>
      <div class="form-group">
        <div class="col-md-12 col-sm-12 col-xs-12">
        
          <input type="password" ng-model="password" placeholder="Wachtwoord"  class="form-control" required />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group col-md-12 col-sm-12 col-xs-12">
          <button class="btn themeColor btn-block buttonstyle">Login<i class="glyphicon glyphicon-log-in" style="padding-left:5px;"></i></button>
        </div>   
      </div>

      <div><label class="errMsg">{{errMessage}}<label></div>
    </form>
  </div> 
</div>    
