<div ng-controller="AdjustedWeightCtrl" class="col-md-12 col-sm-12 col-xs-12">
	<form class="form-horizontal" ng-submit="submit(form)" name="form" novalidate>
		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4>Adjusted weight</h4>
			</div>
		</div>

		

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Current height</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="text" name="age" placeholder="height" class="gap form-control " ng-model="height" ng-required="true"/>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Current weight</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="text" name="age" placeholder="weight" class="gap form-control " ng-model="weight" ng-required="true"/>
					</div>
			      
			    </div>
			</div>
		</div>

		

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				

				<div class="col-md-10 col-sm-10 col-xs-10">
					<input  ng-click="calculate()" type="submit" class="btn btn-success btn-block btn-lg" value="Estimate"/>
				</div>

			</div>
		</div>


		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Ideal weight for height is XXX KG.</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Adjusted weight is XXX KG.</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">BMI is XXX KG/m2</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">According to BMI, weight is calculated as</div>
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Serve thiness</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Calculated using:</div>
				<div class="col-md-12 col-sm-12 col-xs-12 gap">KUSHNER, 1993</div>
			</div>
		</div>
	</form>
</div>







