<div ng-controller="WaistCircumferenceCtrl"  class="col-md-12 col-sm-12 col-xs-12">
	<form class="form-horizontal" name="form" novalidate>
		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<h4>Waist Circumference</h4>
				<strong>WHO, 1998</strong>
			</div>
		</div>

		<div>
			There is increased risk of metabolic complications for men with a waist circumference of greater than and equal to 94 cm and for women with a waist circumference greater than or equal to 80 cm.
		</div>


		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Age</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="number" min="20" max = "60" step="0.25" name="age" placeholder="age" class="gap form-control " ng-model="age" required/>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Gender</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right">
						<select class="form-control" ng-model="gender" required>
						     <option value="">Select</option>
						     <option value="men">Men</option>
						     <option value="women">Women</option>
						</select>
					</div>
			    </div>
			</div>
		</div>


		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Waist Circumference</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="number" min="0" step="0.25" name="waistCircumference" placeholder="Waist Circumference" class="gap form-control " ng-model="waistCircumference" required/>
					</div>
				</div>
			</div>
		</div>

		

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				

				<div class="col-md-10 col-sm-10 col-xs-10">
					<input  ng-click="calculate(form)" type="submit" class="btn btn-success btn-block btn-lg" value="Calculate"/>
				</div>

			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12" ng-show="result.length !== 0">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Risk of metabolic complication {{result}}</div>
			</div>
		</div>

	</form>

</div>

