<div ng-controller="WeightForAmputeesCtrl"  class="col-md-12 col-sm-12 col-xs-12">
	<form class="form-horizontal" ng-submit="submit(form)" name="form" novalidate>
		<div class="form-group">
			<div class="col-md-8 col-sm-8 col-xs-8">
				<h4>Weight for amputees</h4>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8 gap">Weight after amputation</div>
				<div class="col-md-4 col-sm-4 col-xs-4">
					<div class = "right btn-group " >
						<input type="text" name="age" placeholder="age" class="gap form-control " ng-model="age" ng-required="true"/>
					</div>
			      
			    </div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8"><strong>Amputed area</strong></div>
				<div class="col-md-2 col-sm-2 col-xs-2"><strong>left</strong></div>
				<div class="col-md-2 col-sm-2 col-xs-2"><strong>right</strong></div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8">Hand</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8">Leg</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8">Forearm</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8">Leg below knee</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8">Arm to shoulder</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8">Leg above the knee</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-8 col-sm-8 col-xs-8">Foot</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
				<div class="col-md-2 col-sm-2 col-xs-2">
					<input type="checkbox" name="age"/>
				</div>
			</div>
		</div>





		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-1 col-sm-1 col-xs-1"></div>
				

				<div class="col-md-10 col-sm-10 col-xs-10">
					<input  ng-click="calculate()" type="submit" class="btn btn-success btn-block btn-lg" value="Estimate"/>
				</div>

			</div>
		</div>


		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Adjusted weight is XXX KG.</div>
			</div>
		</div>
	
		<!--
		<div class="form-group">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="col-md-12 col-sm-12 col-xs-12 gap">Calculated using:</div>
				<div class="col-md-12 col-sm-12 col-xs-12 gap">CHUMLEA WC, 1985 and 1994</div>
			</div>
		</div>
		-->
		
	</form>
		
	


</div>







